
<form class="form-horizontal"  [formGroup]="employeeForm" >
    <fieldset>
      <h2 align="center">
  MEAN Application - Employee Directory App
</h2>
     
        <!--- Email Block -->
        <div class="form-group">
<table class="table table-striped" >
			<tr >
				<th><label>Name</label></th>
		<th><label>Email</label></th>
		<th><label>DOB</label></th>
		<th><label>Department</label></th>
		<th><label>Gender</label></th>
		<th><label>Age</label></th>
			</tr><tr>
			<td> <input  formControlName = "name" type="text" placeholder="Name"/></td>
			<td> <input formControlName = "email" type="text" placeholder="Email"/></td>
			<td>  <input formControlName = "dob" type="date" placeholder="DOB"/></td>
			<td> <input formControlName = "department" type="text" placeholder="Department"/></td>
			<td> <input formControlName = "gender" type="text" placeholder="Gender"/></td>
			<td><input formControlName = "age" type="text" placeholder="Age" readonly/></td>
			<td><button (click)="onFormSubmit()">Add Employee</button></td>
			<td> <button (click)="addBook()">Update Employee</button></td>
			<td><input  formControlName = "_id" type="hidden" /></td>
			</tr>
			<tr *ngIf="added" >
			<ng-container *ngFor="let employee of employeeList">
				<td><label>{{employee.name}}</label></td>
		<td><label>{{employee.email}}</label></td>
		<td><label>{{employee.dob}}</label></td>
		<td><label>{{employee.department}}</label></td>
		<td><label>{{employee.gender}}</label></td>
		<td><label>{{employee.age}}</label></td>
		</ng-container>
			</tr>
			</table>
			
			</div>
			
			  <div *ngIf="email.invalid && email.touched"
        class="col-sm-3 text-danger">
 
        <div *ngIf = "email.errors?.required">
            Email field can't be blank
        </div>
 
        <div *ngIf = "email.errors?.pattern">
            The email id doesn't seem right
        </div>
 
     </div>
     
      <div *ngIf="(name.invalid && name.touched)"
        class="col-sm-3 text-danger">
         
        <div *ngIf = "name.errors?.required">
            Name field can't be blank
        </div>
      </div>
      
            <div *ngIf="(dob.invalid && dob.touched)"
        class="col-sm-3 text-danger">
         
        <div *ngIf = "dob.errors?.required">
            Dob field can't be blank
        </div>
      </div>
      
          <div *ngIf="(gender.invalid && gender.touched)"
        class="col-sm-3 text-danger">
         
        <div *ngIf = "gender.errors?.required">
            Gender field can't be blank
        </div>
        </div>
            <div *ngIf="(department.invalid && department.touched)"
        class="col-sm-3 text-danger">
         
        <div *ngIf = "department.errors?.required">
            Department field can't be blank
        </div>
      </div>
			</fieldset>
			</form>
 