<form class="form-horizontal" [formGroup]="employeeForm">
   <fieldset>
      <h2 align="center">MEAN Application - Employee Directory App</h2>
      <!--- Email Block -->
      <div class="form-group">
      <div class="alert alert-danger" *ngIf="errorMsg"><strong>{{errorMsg}}</strong></div>
         <table class="table table-striped">
            <tr class ="info">
               <th><label>Name</label></th>
               <th><label>Email</label></th>
               <th><label>DOB</label></th>
               <th><label>Department</label></th>
               <th><label>Gender</label></th>
               <th><label>Age</label></th>
            </tr>
            <tr>
               <td><input class="form-control" formControlName="name"
                  type="text" placeholder="Name" /></td>
               <td><input class="form-control" formControlName="email"
                  type="text" placeholder="Email" /></td>
               <td><input class="form-control" formControlName="dob"
                  type="date" placeholder="DOB" /></td>
               <td><input class="form-control" formControlName="department"
                  type="text" placeholder="Department" /></td>
               <td><input class="form-control" formControlName="gender"
                  type="text" placeholder="Gender" /></td>
               <td><input class="form-control" formControlName="age"
                  type="text" placeholder="Age" readonly /></td>
               <td><button class="btn btn-primary" (click)="onFormSubmit()"><span class="glyphicon glyphicon-plus"></span> Add
                  </button>
               </td>
               <td>
                  <button class="btn btn-primary"
                     (click)="updateEmployee(employeeForm.value)"><span class="glyphicon glyphicon-edit"></span> Update
                  </button>
               </td>
               <td><input class="form-control" formControlName="_id"
                  type="hidden" /></td>
            </tr>
            <ng-container *ngFor="let employee of employeeList">
               <tr>
                  <td><label>{{employee.name}}</label></td>
                  <td><label>{{employee.email}}</label></td>
                  <td><label>{{employee.dob}}</label></td>
                  <td><label>{{employee.department}}</label></td>
                  <td><label>{{employee.gender}}</label></td>
                  <td><label>{{employee.age}}</label></td>
                  <td>
                     <button type="button" class="btn btn-primary"
                        (click)="editEmployee(employee)">
                     <span class="glyphicon glyphicon-edit"></span> Edit
                     </button>
                  <td>
                     <button class="btn btn-primary" (click)="removeEmployee(employee)">
                     <span class="glyphicon glyphicon-trash"></span> Delete
                     </button>
                  </td>
               </tr>
            </ng-container>
         </table>
      </div>
      <div *ngIf="email.invalid && email.touched"
         class="col-sm-3 text-danger">
         <div *ngIf="email.errors?.required">Email field can't be blank
         </div>
         <div *ngIf="email.errors?.pattern">The email id doesn't seem
            right
         </div>
      </div>
      <div *ngIf="(name.invalid && name.touched)"
         class="col-sm-3 text-danger">
         <div *ngIf="name.errors?.required">Name field can't be blank</div>
      </div>
      <div *ngIf="(dob.invalid && dob.touched)" class="col-sm-3 text-danger">
         <div *ngIf="dob.errors?.required">Dob field can't be blank</div>
      </div>
      <div *ngIf="(gender.invalid && gender.touched)"
         class="col-sm-3 text-danger">
         <div *ngIf="gender.errors?.required">Gender field can't be
            blank
         </div>
      </div>
      <div *ngIf="(department.invalid && department.touched)"
         class="col-sm-3 text-danger">
         <div *ngIf="department.errors?.required">Department field can't
            be blank
         </div>
      </div>
   </fieldset>
</form>